# Shared
JWT_SECRET=super-secret-change-me
NEO4J_PASSWORD=muduo_password

# Backend
PORT=4000
NEO4J_URIS=bolt://neo4j-node-1:7687,bolt://neo4j-node-2:7687,bolt://neo4j-node-3:7687
NEO4J_USER=neo4j
FRONTEND_URL=http://localhost:3010
SEED_DEMO_USERS=true
DEMO_USERS_COUNT=1200
DEMO_USER_PASSWORD=muduo-demo-password
ADMIN_USER_PASSWORD=muduo-admin-password

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:4000
